{{ template "header" }}

<div class="d-flex align-items-center justify-content-center">
    <div class="container">
        <form action="/search" method="POST">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="We're listening...">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </form>
    </div>
</div>

{{ template "footer" }}